ion-toolbar {
  --background: #ffc409;
}

.header {
  background-color: #ff9800;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  position: relative;

  h2{
    font-size: 28px;
  }

  .btn-back {
    position: absolute;
    font-size: 24px;
    top: 10%;
    left: 10px;
  }
}
.content-wirting {
  margin-top: 20px;
  padding: 16px;
  .box-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .box {
      width: 90%;
      margin-bottom: 30px !important;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
      margin: auto;
      height: 220px;
      padding: 10px;
      border-radius: 10px;
      
      img{
        height: 150px;
      }
    }

    h3{
      font-size: 18px;
      span{
        color: #ff9800;
      }
    }
  }
}
