<ion-content>
  <div class="header">
    <ion-buttons slot="start" [routerLink]="['/learn-writing']" class="btn-back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <h2>ひらがな</h2>
    <p>매일 한국어를 배우다</p>
  </div>

  <div class="alphabet">
    <div class="box" [routerLink]="['hira-writing']">
      <img src="./../../../../assets/writing/hira/a.png" alt="">
    </div>
    <div class="box">
      <img src="./../../../../assets/writing/hira/i.png" alt="">
    </div>
    <div class="box">
      <img src="./../../../../assets/writing/hira/u.png" alt="">
    </div>
    <div class="box">
      <img src="./../../../../assets/writing/hira/e.png" alt="">
    </div>
    <div class="box">
      <img src="./../../../../assets/writing/hira/o.png" alt="">
    </div>
    <div class="box">
      <img src="./../../../../assets/writing/hira/ka.png" alt="">
    </div>
    <div class="box">
      <img src="./../../../../assets/writing/hira/ki.png" alt="">
    </div>
    <div class="box">
      <img src="./../../../../assets/writing/hira/ku.png" alt="">
    </div>
    <div class="box">
      <img src="./../../../../assets/writing/hira/ke.png" alt="">
    </div>
    <div class="box">
      <img src="./../../../../assets/writing/hira/ko.png" alt="">
    </div>
    <div class="box">
      <img src="./../../../../assets/writing/hira/n.png" alt="">
    </div>
  </div>
</ion-content>
