<ion-content *ngIf="!isLoading">
  <div class="header">
    <ion-buttons slot="start" [routerLink]="['/learn-writing']" class="btn-back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <h2>ひらがな</h2>
    <p>毎日韓国語を学ぶ</p>
  </div>

  <div class="alphabet">
    <div class="box" [routerLink]="['writing', word.id]" *ngFor="let word of listWord">
      <img [src]="word.imageShow" alt="">
    </div>
  </div>
</ion-content>

<ion-content *ngIf="isLoading">
  <app-skeleton></app-skeleton>
</ion-content>
