<ion-content *ngIf="!isLoading">
  <div class="header">
    <h2>毎日韓国語を学ぶ</h2>
  </div>

  <ion-card>        
    <ion-card-content style="font-size: 13px;">      
      私たちはあなたを愛しています、私たちは常に可能な限り最高の体験を提供するために一生懸命働いています ❤️  
      </ion-card-content>      
  </ion-card>

  <div class="ion-padding" scroll-y="false">
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <div class="slide">
          <span class="label-new">新しい</span>
          <img src="../../../assets/slides/slide-1.png" />
          <p class="text">Reading 1</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <span class="label-new">新しい</span>
          <img src="../../../assets/slides/slide-2.png" />
          <p class="text">Reading 2</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <img src="../../../assets/slides/slide-3.png" />
          <p class="text">Reading 3</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <img src="../../../assets/slides/slide-4.png" />
          <p class="text">Reading 4</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="ion-padding" scroll-y="false">
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <div class="slide">
          <img src="../../../assets/slides/slide-5.png" />
          <p class="text">listening 1</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="card-topic">
    <h3 style="font-size: 18px;">Topic for you</h3>
    <app-topic-card
      [routerLink]="['/learn-writing']"
      [image]="'../../../assets/slides/slide-6.png'"
      [title]="'Writing'"
      [subTitle]="'Beginer'"
      [timeLearn]="'2 week'"
    ></app-topic-card>
    <app-topic-card
      [image]="'../../../assets/slides/slide-7.png'"
      [title]="'Listening'"
      [subTitle]="'Beginer'"
      [timeLearn]="'2 week'"
    ></app-topic-card>
    <app-topic-card
      [image]="'../../../assets/slides/slide-9.png'"
      [title]="'Exams'"
      [subTitle]="'Beginer'"
      [timeLearn]="'5 Test'"
    ></app-topic-card>
    <app-topic-card
      [image]="'../../../assets/slides/slide-8.png'"
      [title]="'Exams'"
      [subTitle]="'Advance'"
      [timeLearn]="'10 test'"
    ></app-topic-card>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="circles"
    >
    </ion-refresher-content>
  </ion-refresher>
</ion-content>

<ion-content *ngIf="isLoading">
  <app-skeleton></app-skeleton>
</ion-content>
