.topic {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
  border-radius: 12px;

  .content {
    padding: 0 10px;

    p {
      width: max-content;
    }
    p.title {
      color: #2196f3;
      font-size: 16px;
      font-weight: 600;
      margin-top: 5px;
      margin-bottom: 0;
    }
    p.sub {
      font-size: 13px;
      margin-top: 5px;
    }
    p.sub span {
      color: gray;
      padding-right: 8px;
    }
  }
  .img {
    img {
      width: 100%;
    }
  }
}

ion-icon {
  color: gray;
  font-size: 16px;
}

.active {
  color: #ff9800;
}
