<div class="topic">
  <div class="content">
    <div class="icon-topic">
      <ion-icon class="active" name="rocket-outline"></ion-icon>&nbsp;
      <ion-icon name="rocket-outline"></ion-icon>&nbsp;
      <ion-icon name="rocket-outline"></ion-icon>
    </div>
    <p class="title">{{topic.title}}</p>
    <p class="sub">
      <span>{{topic.subTitle}}</span>
      <span>{{topic.timeLearn}}</span>
    </p>
    <ion-icon name="share-social-outline"></ion-icon>
  </div>
  <div class="img">
    <img [src]="topic.image" alt="" />
  </div>
</div>
